.info-container {
  height: 100%;
  width: 100vw;
  margin: auto;
}

.pokemon-name {
  color: #4e4e4e;
  margin: 20px auto 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.entry-row {
  width: 100%;
}

.pokemon-image {
  width: 30%;
}

.main-section {
  width: 35%;
  perspective: 400px;
  justify-content: center;
}

.left, .right {
  color: black;
  text-shadow: none;
  width: 100%;
  text-align: center;
  margin: 4px auto;
  transition: all 0.2s ease-in-out;
}

.left {
  transform: rotateY(15deg);
}

.right {
  transform: rotateY(-15deg);
}

.main-section:hover .left, .main-section:hover .right {
  transform: none;
}

.ability {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.section-header {
  color: #4e4e4e;
  text-shadow: none;
  width: 100%;
  text-align: center;
}

.exit-button {
  width: fit-content;
  padding: 0.75rem 2rem;
  margin: 1rem auto auto;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.27);
}

.exit-button:hover {
  filter: brightness(110%);
}

@media screen and (max-width: 960px) {
  .entry-row {
    flex-direction: column;
  }

  .pokemon-image {
    order: -1;
    width: 50%;
    margin: auto;
  }

  .main-section {
    margin: 0.5rem auto;
    width: 100%;
    perspective: 0px;
  }

  .left, .right {
    transform: rotateY(0deg);
  }
}